<div>
  <h3>
    <%= link_to tutorial.title && !tutorial.title.empty? ? tutorial.title : "(no title)", tutorial_slug(tutorial) %>
    <small>by <%= link_to tutorial.user.username,user_path(tutorial.user) %></small>

  </h3>
</div>