/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

.span-one-half {
  width: 450px;
}

.right-of-divider {
    border-left: #EEE 1px solid
}

li.ui-menu-item {
    list-style: none;
}

li.ui-menu-item {
    margin: 4px 0 4px 0;
}

li.ui-menu-item > a {
    background: #add8e6;
    padding: 3px 3px 3px 3px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;

}

li.ui-menu-item > a.ui-state-hover {
    background: #0064CD;
    color: white;
}

.large-submit-buttons {
    float: left;
}


.comment-container {
    /*float: left;*/
    display: block;
    margin-top: 20px;
}

.comment-text {
    text-align: left;
    padding-left: 10px;
}

hr.top {
    margin-top: 0;
}

.comment-controls {
    float:right;
}

.comment-meta-data > p, .comment-meta-data {
    margin: 0 0 0 0;
}

.comment-divider {
    margin: 5px 0 5px 0;
}

.user-tutorial-count, .user-sidebar-name  {
    line-height: normal;
}

.possibly-undersize {
    min-height: 200px;
}

.label-explanation {
    line-height: 1.2em;
}

.share-button-container {
    /*margin: 0px auto;*/
    text-align: center;
    margin-bottom: 0;
}

.openid-provider-logo {
    width: 256px;
    display: block;
    margin: 10px 0 10px 0;
    border: #C0C0C0 solid thin;
}

.openid-provider-logo.right {
    float: left;
}
.openid-provider-logo.left {
    float: right;
}

#label-ok {
    color: green;
    font-weight: bold;
}
#label-error {
    color: red;
    font-weight: bold;
}

#tutorial-content > a {
    color: #0069d6;
    text-decoration: underline;
}
