<% title 'About' %>

<%= render :layout => 'html_content_wrapper' do %>
  <div class="page-header">
    <h1>About HelpMeCo.de
      <small>The site that helps you become a better coder</small>
    </h1>
  </div>
  <div class="row">
    <div class="span10">
      <h2 >What is HelpMeCo.de?</h2>
      A site that gathers tutorials for technology and programming in an effort to help people learn and to show off your skills.

      <br/>
      <h2 class="section-header">Why?</h2>
      Programming is a continuous learning journey.  Much of development time is spent learning the component/feature/framework you are working on.
      Usually the learning material comes from a few sources: books, reference docs, Q&A sites, and tutorials.<br/>
      Tutorials have always bridged the gap between learning fundamentals from a book or course and bug hunting on Q&A sites like StackOverflow.
      They usually take the form of a post on a personal blog or forum specific to the technology in question and usually the result is
      a disparate experience.  Sometimes they are a quality tutorials, sometimes not.  It would be great to know if the blog post you are trying
      to learn from has been vetted, if someone else has found it useful.

      <br/>
      <h2 class="section-header">How?</h2>
      HelpMeCo.de is setup in a similar way as a blogging site.  There are tutorials that people write with a eye towards making it useful in a tech sense.  For example,
      with a tutorial will often be a way to download the full source code for the article using a version control system be it git or subversion.  These tutorials will be
      organized using tags that you would be interested in so they can find more of what they're interested in.
    </div>
    <div class="span4">
      <h3>
      </h3>
    </div>
  </div>

<% end %>
