<% title "Authors" %>

<%= render :layout => 'html_content_wrapper' do %>

    <div class="page-header"><h1>Publish content on HelpMeCo.de and get paid</h1></div>
    <div class="row">
      <div class="span10">

        <h2>How it works:</h2>

        <p>Programming and technical skills consistently rank as some of the most desired skills in today's economy ( source: <a href="http://www.bls.gov/oco/ocos303.htm">Bureau of Labor Statistics</a>). That
          need for technical skill will motivate many to start learning to program which requires educational resources such as books,
          videos and tutorials. Finding programming tutorials on the web is not hard, finding quality ones is. A random
          blogger.com post may contain exactly what you need but how does one know that from looking at its Google
          search result? You may recognize a domain in a search result as having quality content through past experience
          but what about the ones you don’t recognize. Could they also have quality content?</p>

        <p>HelpMeCo.de brings together tutorial authors and those who want to learn from them by centralizing the
          content and using a voting system to recognize great content. Much the way StackOverflow made QA sites
          helpful, HelpMeCo.de will bring great tutorials to the forefront and reward those content creators who publish
          great content. But unlike StackOverflow, HelpMeCo.de will reward authors of great content monetarily, not just
          with symbolic points. Here’s how it breaks down.</p>

        <p>Simply, HelpMeCo.de makes money from selling ad space ( hopefully not too intrusively ) on tutorial pages. We
          take all the money that we make in ads and subtract the expenses for running the site ( hosting, bandwidth
          costs, equipment costs, paying any employees ) plus 10% so we aren’t running a business on a month to month
          basis and the rest is divided between our authors. The way it’s split up between authors is by ad revenue of
          each page. Say you have 5 tutorials and together they brought in 5% of the $2,100 of this month’s ad revenue
          and the month’s expenses were $91 worth of hosting and bandwidth. We add 10% to the month’s costs making it an
          even $100. So post expenses we have $2,000 to distribute, 5% of which goes to you. So at the end of that month
          we would write you a check for $100. If the ad revenue brought in from the pages you published increases then
          you’ll get more per month without doing any more work. This is called “passive income”, you just collect the
          checks.</p>

        <h2>Why HelpMeCo.de?</h2>

        <p>You may ask why you wouldn’t just create your own blog and publish tutorials there, collecting 100% of the ad
          revenue. There’s a few reasons why:</p>

        <p><em>Setting up and maintaining your own technical blog is not free and may not be that easy.</em></p>
      </div>
      <div class="span9 offset1">
        <p>You can download wordpress and install it on your own hosting solution. This won’t cost too much to get
          started, maybe just $5 / month but then you have to worry about installing, maintaining, upgrading, and
          scaling to accommodate more traffic. This sucks up your time you could be for creating better content, working
          on personal projects, time with family, etc. You can have a service host and maintain your blog but they are
          going to mark up the hosting costs.</p>
      </div>

      <div class="span10">
        <p><em>A personal domain does not carry as much weight as well-linked one</em></p>
      </div>

      <div class="span9 offset1">
        <p>To a search engine, in-bound links are the biggest indicator of quality. If a lot of links across the web
          point
          to your content there’s a good chance that the content is important. A personal blog may get mentioned here
          and
          there but it would be hard for it to compete with the very same content at a well-established, well-linked-to
          site.  Essentially, we are stronger together.</p>
      </div>

      <div class="span10">

        <br/>

        <h2>Your Content and Us</h2>
        When you publish your content on HelpMeCo.de we want to make sure you understand that it is still your content.
        If you want it removed, you need only click the delete button. We won’t be copying or redistributing your
        content without your express permission.

        <br/>

        <h2>Protecting Our Brand</h2>

        <p>It’s important to to give customers a predictable experience of quality and usefulness when they click on a
          HelpMeCo.de link. They expect the title to summarize the content on the page, for tutorials to be readable and
          understandable, and for content to be thorough and well presented. These simple standards brings up the
          community as a whole. If a tutorial is thought to be sub-par or something is in error we will first try to
          work
          with the author to rectify it. If the content is deemed to exist only to game the system or spam users then it
          will be removed.</p>

        <p>This allows us to keep a well-received user experience, driving traffic and keeping the site free of SPAM or
          useless content.</p>

        <p><%= link_to "Contact", "/sites/contact" %></p>
        <%= link_to "Signup", signup_path, :class=>"btn primary large" %>

      </div>

    </div>
<% end %>