<% title 'Welcome' %>

<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
  <h1>HelpMeCo.de</h1>

  <p>The place for the professionals to teach others how to improve their coding skills.</p>

  <p><a class="btn primary large">Learn more &raquo;</a></p>
</div>

<!-- Example row of columns -->
<div class="row">
  <div class="span-one-half">
    <h2>Learn</h2>

    <p>Find tutorials from those who have done it before.  Tutorials are tagged with their area ( Java, Ruby on Rails, .NET, CSS, iOs, etc. ).  Search through the tutorials or browse by tag.</p>

    <p><a class="btn" href="/tutorials">View tutorials &raquo;</a></p>
  </div>
  <div class="span-one-half">
    <h2>Teach and Earn</h2>

    <p>Have something to share?  HelpMeCo.de gives you a blogging platform geared towards type posts.  Share your latest component, a neat project, an installation tutorial, etc.  HelpMeCo.de also profit-shares with content creators.</p>

    <p><a class="btn" href="/sites/authors">View details &raquo;</a></p>
  </div>

</div>


