<% title "Meet the team" %>

<%= render :layout => 'html_content_wrapper' do %>

    <div class="page-header"><h1>The HelpMeCo.de team</h1></div>
    <div class="row">
      <div class="span10">

        <h2><img style="margin-right: 10px;" src="/images/paul_profile_pic.png" >Paul Brower<small> Founder</small></h2>

        <p>Paul has been programming professionally for 6 years and unprofessionally for much longer than that.
          He has worked at companies such as Springpad, Pegasystems, and recently Mobiquity Inc.  He prefers making applications
        for the Android OS but can also be found hacking away at a Ruby on Rails site on his Ubuntu machine.  <a href="/users/1">Profile here</a></p>

        <p> For employment opportunities, contact brower DOT paul -at- gmail DOT com </p>
      </div>


    </div>
<% end %>